@{
    ViewBag.Title = "BookingTool";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Weitere Informationen zu ASP.NET MVC finden Sie unter
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                Die Seite enthält <mark>Videos, Lernprogramme und Beispiele,</mark> die Sie bei der optimalen Nutzung von ASP.NET MVC unterstützen.
                Wenn Sie Fragen zu ASP.NET MVC haben, besuchen Sie
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">unsere Foren</a>.
            </p>
        </div>
    </section>
}
<h3>Funktionen:</h3>
<ol class="round">
    <li class="one">
        <h5>Anmelden</h5>
        Das BookingTool kann erst nach erfolgreicher Registrierung und Anmeldung verwendet werden. 
        Nach der Anmeldung kann der persönliche Kontostand angeschaut werden und neue Buchungen erfolgen.
    </li>

    <li class="two">
        <h5>Buchung</h5>
        Jede Buchung kann mehrere Beteiligte haben, die im Vorraus angegeben werden müssen.
        Um die Buchung zu erstellen muss der Name, die Beschreibung, das Datum und die Beteiligten ausgewählt und eingetragen werden.
    </li>

    <li class="three">
        <h5>Kontostand</h5>
        Der Kontostand zeigt die aktuellen Buchungen sowie die Beteiligeten an. Zusätzlich wird "Soll" und "Haben" angezeigt und ausgerechnet. 
    </li>
</ol>
